# Created by .ignore support plugin (hsz.mobi)

# Exclude folders
.idea/
packages/

# Exclude this file (or don't... you do you, git!)
.gitignore

# Exclude files by extension
*.sln
*.csproj
*.DotSettings
*.config
*.bat

# LogixEngine project files
LogixEngine/*
!LogixEngine/Changes.md
!LogixEngine/Code/

# Terrascape project files
Terrascape/*
!Terrascape/Changes.md
!Terrascape/Code/
